<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <style>
        body{margin:0;display: flex;justify-content: center;align-items: center;min-height: 100vh;background: #eee;flex-direction: column;}
        .t{margin: 3px;color: royalblue;font-size: 51px;}p{margin: 5px;color: #333;font-size: 19px;}
        .btn{display: flex;align-items: center;margin-top: 32px;}
        .btn a{background: white;margin: 9px 19px;border-radius: 12px;text-decoration: none;box-shadow: 1px 2px 3px #3333334e;padding: 19px;}
        .btn a h1{margin: 9px;font-size: 36px;color: #333;transition: 0.4s;}
        .btn a p{margin: 5px;color: dimgray;font-size: 19px;}
        .btn a:hover h1{color: royalblue;}
    </style>
</head>
<body>
    <h1 class="t">Choose library</h1>
    <p>Library to develope your web page faster.</p>
    <div class="btn">
        <a href="library/mcss"><h1>MCSS</h1><p>Library to style web page</p></a>
        <a href="library/ms.js"><h1>Ms.js</h1><p>Library to script web page action</p></a>
    </div>
</body>
</html>